body{
    background-image: url('30.png');
    color:white;
}


#Resume{
    color:white;

}
#Lok{
    color:white;

}


#SN{
    color:white;


}
#PS{
    color:white;

}
#Text{

    color:white;
}
#field{

    color:white;
}